@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 100% 99%;
    --foreground: 252 37% 32%;

    --card: 0 0% 100%;
    --card-foreground: 252 37% 32%;

    --popover: 0 0% 100%;
    --popover-foreground: 252 37% 32%;

    --primary: 252 37% 32%;
    --primary-foreground: 0 0% 100%;

    --secondary: 257 64% 95%;
    --secondary-foreground: 252 37% 32%;

    --accent: 252 56% 72%;
    --accent-foreground: 252 37% 32%;

    --muted: 226 100% 97%;
    --muted-foreground: 215 16% 47%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --ring: 252 56% 72%;

    --radius: 1rem;
  }

  .dark {
    --background: 252 37% 10%;
    --foreground: 210 40% 98%;
    --card: 252 37% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 252 37% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 252 56% 72%;
    --primary-foreground: 252 37% 10%;
    --secondary: 257 30% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 257 30% 20%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 257 30% 20%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 257 30% 20%;
    --input: 257 30% 20%;
    --ring: 252 56% 72%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
    @apply selection:bg-purple-200 selection:text-primary;
  }
  
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

@layer utilities {
  .minimal-scroll::-webkit-scrollbar {
    width: 4px;
  }

  .minimal-scroll::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 1.5rem;
  }

  .minimal-scroll::-webkit-scrollbar-thumb {
    background-color: hsl(var(--border));
    border-radius: 0px;
  }

  .minimal-scroll::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--accent));
  }

  .low-highlight {
    background-image: linear-gradient(0, hsl(var(--accent) / 0.5), hsl(var(--secondary)));
    background-size: 100% 20%;
    background-repeat: no-repeat;
    background-position: 0 80%;
  }
}